TESTRAIL_URL=
TESTRAIL_EMAIL=
TESTRAIL_API_KEY=
TESTRAIL_SECTION_ID=

LLM_BACKEND=github_models
GITHUB_MODELS_TOKEN=
GITHUB_MODELS_MODEL=openai/gpt-4.1

REQUIRE_MANUAL_APPROVAL=yes
USE_ALL_CASES_IN_SECTION=yes
PRIORITY_ANALYZER_MODE=yes
CREATE_IN_TESTRAIL=yes
#CASE_IDS=
#FORCE_REFACTORED_TEMPLATE_STEPS_SEPARATED=yes
#TESTRAIL_STEPS_SEPARATED_TEMPLATE_ID=2

JIRA_BASE_URL=
JIRA_USER_EMAIL=
JIRA_API_TOKEN=
